.header{
    background: var(--bg-gradient);
    display:  grid;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 10px;
    place-items: center;
}

.search{
    background: rgba(121, 121, 121, 0.267);
    padding: 10px;
    margin: 10px;
    border: none;
    width: 80vw;
}